<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name = "java_pacman_ranking">
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/java_pacman_ranking?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Himalaje.99</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="pl.sokol.pacman.database.domain.Ranking" />
        <mapping class="pl.sokol.pacman.database.domain.Save" />
        <mapping class="pl.sokol.pacman.elements.map.Point" />
        <mapping class="pl.sokol.pacman.gui.panels.game.stats.StatsPanelModel" />
    </session-factory>
</hibernate-configuration>